
// default font
$font-main: 'Nunito', sans-serif;


// main colors
$main-color: #39a862;
$second-main-color: #313045;


// green colors
$green1: #2B4721;
$green2: #ecf0ec;
$green3: #519739;
$greenGradient: linear-gradient(to right, #2F2E41, #146A33, #4AA069);
$greenGradient2: linear-gradient(to right, rgba(8, 187, 74, 0.788), #5ad186);


// white colors

$white1: #FCFCFC;
$white2: #eeecec;
$white3: #f4f5f4;


// gray colors
$gray1: #6B6B6B;
$gray2: #3e443f;
$gray3: #6b4949;
$gray4: hsla(0, 0%, 0%, 0.267);


//categories colors

$yellow: #FCFF78; // educação
$pink: #F58BCB; // doméstica
$red: #fc4343; // médica
$purple: #8c71f8; // pessoal
$blue: #76C7F4; // investimentos
$orange: #FFA149; // transporte
$green: #70C883; // lazer
$purple2: #9db0e4; // comida


