
@import "../../../assets/abstracts/mixins.scss";
@import "../../../assets/abstracts/reset.scss";
@import "../../../assets/abstracts/variables.scss";

.containerFooter {
  width: 100%;
  position: relative;
  z-index: -1;
  left: 50%;
  bottom: 3px;
  transform: translateX(-50%);
  text-align: center;
  padding: 35px 30px 5px 30px;
  p {
    font: 500 1.3rem $font-main;
    color: $second-main-color;
    margin-bottom: 5px;
  }
  span {
    color: $main-color;
    font-weight: 700;
  }
  @include responsive-tablet {
    @include flexbox-between;
    padding: 22px 0 20px 0;
    width: 650px;
    top: 70px;
    p {
      font: 400 1.3rem $font-main;
      color: $second-main-color;
    }
    span {
      color: $main-color;
      font-size: 1.65rem;
      font-weight: 700;
    }
  }
  @include responsive-desktop {
    @include flexbox-between;
    position: relative;
    top: 80px;
    padding: 22px 0 15px 0;
    width: 1000px;
    padding-top: 0;
  }
  p {
    font: 400 1.5rem $font-main;
    color: $second-main-color;
  }
  span {
    color: $main-color;
    font-size: 1.65rem;
    font-weight: 700;
  }
  @include responsive-desktop2 {
    width: 1500px;
  }
  @media screen and (min-width: 1400px) and (max-width: 1650px) {
    width: 1200px;
  }
}

.wave {
  width: 100%;
  position: fixed;
  bottom: 1px;
  z-index: -1;
}